
body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 42px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 30px;
  font-weight:500;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-size: 28px;
  font-weight: 500;
  font-family: 'Roboto Slab', serif;
}

h5 {
  font-size: 28px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}




